{% extends 'base.html' %}
{% load static %}



{% block title %}
    إضافة شقة للإيجار
{% endblock title %}
    

{% block stylesheets %}


    <link rel="stylesheet" href="{% static 'css/property/add-apartment-rent.css' %}">
{% endblock stylesheets %}
    


{% block content %}



<div class="container form-container">

    <section >


        <div class="section__timeline">
            <div class="section__timeline__content">

                <div>المعلومات</div>
                <div>الصور</div>
                <div>الموقع</div>
                <div>التفاصيل</div>
                <div>المزايا</div>

            </div>

            <div class="section__timeline__progress">
                <div class="progress-container"></div>
            </div>

        </div>

        <div class="property__info">
            <div class="input">
                <p class="input-label">السعر <span class="input-label-highlight">(ريال سعودي)</span></p>
                <input type="text" placeholder="الرجاء كتابة السعر...">
            </div>

            <div class="input">
                <p class="input-label">المساحة <span class="input-label-highlight">(متر مربع)</span></p>
                <input type="text" placeholder="الرجاء كتابة المساحة...">
            </div>

            <div class="input">
                <p class="input-label">الطول <span class="input-label-highlight">(متر)</span></p>
                <input type="text" placeholder="الرجاء كتابة السعر...">
            </div>

            <div class="input">
                <p class="input-label">العرض <span class="input-label-highlight">(متر)</span></p>
                <input type="text" placeholder="الرجاء كتابة السعر...">
            </div>

            <!-- <div class="input">
                <p class="input-label">السعر <span class="input-label-highlight">(ريال سعودي)</span></p>
                <input type="text" placeholder="الرجاء كتابة السعر...">
            </div> -->

            <div class="box">
                <p>علاقة المعلن بالعقار</p>
                <div class="grid">
                    <div class="item">مسوق</div>
                    <div class="item">مالك</div>
                    <div class="item">وكيل</div>
                </div>

                <div class="grid" id="markter-type-grid">
                    <div class=" sub-item">حصري</div>
                    <div class="sub-item">غير حصري</div>
                </div>

            </div>


            <div class="next-prev">
                <a href="#" class="btn-prev btn btn-solid-light">السابق</a>
                <a href="#" class="btn-next btn btn-solid-success">التالي</a>
            </div>


        </div>

        <div class="property__details">
            <div class="box">
                <div class="info">
                    <p>عرض الشارع</p>
                    <p class="value">
                        <span>0</span>
                        م
                    </p>
                </div>
                <div class="slider">
                    <input class="slider_input" type="range" max="100" value="0">
                </div>
            </div>


            <div class="box">
                <div class="info">
                    <p>عدد الغرف</p>
                </div>
                <div class="grid">
                    <!-- <div class="item">جديد</div> -->
                    <div class="item">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                    <div class="item">4</div>
                    <div class="item">أكثر <i class="fa-solid fa-sort"></i></div>
                </div>
            </div>
            
            <div class="box">
                <div class="info">
                    <p>الصالات</p>
                </div>
                <div class="grid">
                    <!-- <div class="item">جديد</div> -->
                    <div class="item">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                    <div class="item">4</div>
                    <div class="item">أكثر <i class="fa-solid fa-sort"></i></div>
                </div>
            </div>

            <div class="box">
                <div class="info">
                    <p>عدد دورات المياه</p>
                </div>
                <div class="grid">
                    <!-- <div class="item">جديد</div> -->
                    <div class="item">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                    <div class="item">4</div>
                    <div class="item">أكثر <i class="fa-solid fa-sort"></i></div>
                </div>
            </div>
            
            <div class="box">
                <div class="info">
                    <p>عمر العقار</p>
                </div>
                <div class="grid">
                    <div class="item">جديد</div>
                    <div class="item">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                    <div class="item">4</div>
                    <div class="item">أكثر <i class="fa-solid fa-sort"></i></div>
                </div>
            </div>


        </div>

        <div class="property__imgs">
            <button class="btn add-img">
                إضافة صور
                <i class="fa-solid fa-camera"></i>
            </button>
            <button class="btn add-video">
                إضافة فيديو
                <i class="fa-solid fa-video"></i>
            </button>
        </div>



        <div class="property__features">
            <div class="property__description__container">
                <p>وصف العقار</p>
                <textarea placeholder="الرجاء كتابة وصف عن العقار" name="property__description__input" id="">

                </textarea>
            </div>

            <div class="property__features__container">
                <p>مزايا العقار</p>
                <div class="property__features__wrapper">

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مسبح</p>
                    </div>


                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مؤثثة</p>
                    </div>



                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>بيت شعر</p>
                    </div>



                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>غرفة خادمة</p>
                    </div>



                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>غرفة حارس</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مسبح</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مسبح</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مسبح</p>
                    </div>


                </div>

            </div>
        </div>


        <div class="property__location">
            
            <p class="property__location__heading">الرجاء تحديد الموقع الصحيح للعقار</p>
            <div class="map-container">
                <div id="map"></div>
                <a href="#" id="myLocationButton" class="btn btn-mylocation">
                    <i class="fa-solid fa-location-crosshairs"></i>
                    موقعي
                </a>
                <a href="#" class="btn btn-terrain">تضاريس</a>
            </div>

            <div class="next-prev">
                <a href="#" class="btn-prev btn btn-solid-light">السابق</a>
                <a href="#" class="btn-next btn btn-solid-success">التالي</a>
            </div>
        </div>



    </section>



</div>


    <script src="{% static 'js/property/add-property.js' %}"></script>
    
    <script>
        // JavaScript code to handle the toggle switch
        const toggleSwitchs = document.querySelectorAll('.toggle-switch');
        const toggleContainer = document.querySelector('.toggle-container');

        toggleSwitchs.forEach((toggleSwitch) => {
            toggleSwitch.addEventListener('change', function() {
                if (toggleSwitch.checked) {
                    toggleSwitch.parentElement.classList.add('checked');
                } else {
                    toggleSwitch.parentElement.classList.remove('checked');
                }
            });
        })

    </script>

{% endblock content %}
    