{% extends 'base.html' %}
{% load static %}


{% block title %}
    إضافة عقار
{% endblock title %}
    


{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/property/add-property-interface.css' %}">
    
{% endblock stylesheets %}
    



{% block content %}

<div class="content">
    <div class="container">
        <a href="{% url 'property:add-apartment-rent' %}">شقة للايجار</a>
        <br>
        <a href="#">دور للايجار</a>
        <br>
        <a href="#">عمارة للايجار</a>
    </div>
</div>

{% endblock content %}
    